<?xml version="1.0"?>
<config>
    <modules>
        <Magenifest_Countdownwidget>
            <version>0.1.0</version>
        </Magenifest_Countdownwidget>
    </modules>
    <global>
        <models>
            <magenifest_countdownwidget>
                <class>Magenifest_Countdownwidget_Model</class>
                <resourceModel>magenifest_countdownwidget_resource</resourceModel>
            </magenifest_countdownwidget>
            <magenifest_countdownwidget_resource>
                <class>Magenifest_Countdownwidget_Model_Resource</class>
            </magenifest_countdownwidget_resource>
        </models>
        <blocks>
            <magenifest_countdownwidget>
                <class>Magenifest_Countdownwidget_Block</class>
            </magenifest_countdownwidget>
        </blocks>
        <helpers>
            <magenifest_countdownwidget>
                <class>Magenifest_Countdownwidget_Helper</class>
            </magenifest_countdownwidget>
        </helpers>
        <resources>
            <magenifest_countdownwidget_setup>
                <setup>
                    <module>Magenifest_Countdownwidget</module>
                </setup>
            </magenifest_countdownwidget_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <countdownwidget>
                <use>standard</use>
                <args>
                    <module>Magenifest_Countdownwidget</module>
                    <frontName>countdownwidget</frontName>
                </args>
            </countdownwidget>
        </routers>
    </frontend>
</config>